.Planet {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: silver;
  display: flex;
  align-items: center;
  justify-content: center;

  .selectedMoonCount {
    margin-left: 5px;
    color: darkorange;
  }
}
